<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1" />

    <title>{% block title %}TaskLinker{% endblock %}</title>

    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="{{ asset('js/select.js') }}"></script>
</head>

<body>
<div id="main-container">

    {% include 'partials/nav.html.twig' %}

    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <h1>{% block page_title %}{% endblock %}</h1>
            </div>
        </header>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </main>

</div>
</body>
</html>

