<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1" />
        <title>{% block title %}TaskLinker{% endblock %}</title>
        {# Importmap obligatoire pour charger app.js (et donc app.css) #}
        {% block importmap %}
        {{ importmap('app') }}
        {% endblock %}

        {# FontAwesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Select2 CSS #}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    </head>
    <body class="logout-page">
        <header class="logout-header">
            <img src="{{ asset('img/logo.png') }}" alt="Logo TaskLinker" />
        </header>
        <div id="main-content-logout">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
