{% extends 'base.html.twig' %}

{% block title %}Nom du projet - TaskLinker{% endblock %}
{% block page_title %}Nom du projet{% endblock %}
{% block page_actions %}{% endblock %}

{% block body %}
<div id="content">

    {{ form_start(form) }}

        <div>
            {{ form_row(form.title, { label: 'Titre du projet' }) }}
        </div>

        <div>
            {{ form_row(form.employees, { label: 'Inviter des membres' }) }}
        </div>

        <br>

        <button class="button button-submit">Modifier</button>

    {{ form_end(form) }}

</div>
{% endblock %}
